.popup__elements {
  border: 0;
  max-width: 358px;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 15px;



}

@media screen and (max-width: 767px) {
  .popup__elements {
    padding-bottom: 10px;

  }
}
